{% extends 'base_admin.html' %}

{% block title %}User Dashboard{% endblock %}

{% block content %}
<div class="section-top-border">
    <h3 class="mb-30">Active Test</h3>

    <div class="container mt-4">
        <h1 class="text-center mb-4">Available Tests</h1>
        
        <!-- Search Form -->
        <form method="GET" action="{% url 'admin_dashboard' %}" class="mb-4">
            <div class="input-group">
                <input type="text" class="form-control" name="search" placeholder="Search for tests" value="{{ request.GET.search }}">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </div>
        </form>

        {% if tests %}
            <div class="row">
                {% for test in tests %}
                    <div class="col-md-4 mb-4">
                        <div class="card h-100">
                            <div class="card-header text-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="card-title mb-0">{{ test.title }}</h5>
                                    {% if test.show_monitor_button %}
                                        <a href="{% url 'edit_test' test.id %}" class="btn btn-primary">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                    {% endif %}
                                </div>
                                
                            
                            </div>
                            <div class="card-body">
                                <p class="text-muted small">Subject: {{ test.subject }}</p>
                                <p class="text-muted small">Star Time: {{ test.start_time }}</p>
                                <p class="text-muted small">End Time: {{ test.end_time }}</p>
                                <p class="text-muted small">Total Marks: {{ test.total_marks }}</p>
                                <p class="text-muted small">Total Questions: {{ test.total_marks }}</p>
                                <p class="text-muted small">Created By: {{ test.created_by }}</p>
                            </div>
                            <div class="card-footer text-center">
                                <div class="d-flex justify-content-center">
                                    {% if test.show_monitor_button %}
                                        <a href="{% url 'monitor' test.id %}" class="btn btn-primary" style="margin-right: 15px;">Start Monitoring</a>
                                    {% endif %}
                                    <a href="{% url 'test_report' test.id %}" class="btn btn-primary">Report</a>

                                </div>
                                
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="text-center">No tests are currently available.</p>
        {% endif %}
    </div>

</div> 
{% endblock %}
