
{% extends 'partial/base.html' %}

{% block title %}User Dashboard{% endblock %}

{% block content %}
<div class="section-top-border">
    <h3 class="mb-30">Active Test</h3>

    <div class="login-container">
        <h1>Login</h1>
        <form method="POST">
            {% csrf_token %}
            {% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Login</button>
        </form>
    </div>

</div> 
{% endblock %}


